<div class="container mt-5">
  <h2>La comunidad árabe más grande de Latinoamérica</h2>
  <p>Ayúdanos a ayudarte, este proyecto lo hacemos todos.</p>
  <h5 class="my-3">¿Qué esperar lograr con esta plataforma?</h5>
  <%= simple_form_for @suggestion do |s| %>
  <div class="row">
    <div class="col-md-4 my-1">
      <%= s.input :networking, as: :boolean, label: "Networking" %>
    </div>
    <div class="col-md-4 my-1">
      <%= s.input :mentoring, as: :boolean, label: "Mentorías" %>
    </div>
    <div class="col-md-4 my-1">
      <%= s.input :partnership, as: :boolean, label: "Alianzas estratégicas con otros habbibis" %>
    </div>
    <div class="col-md-4 my-1">
      <%= s.input :investors, as: :boolean, label: "Reuniones con inversionistas" %>
    </div>
    <div class="col-md-4 my-1">
      <%= s.input :subsidies, as: :boolean, label: "Subsidios de gobierno" %>
    </div>
    <div class="col-md-4 my-1">
      <%= s.input :growth, as: :boolean, label: "Crecer como negocio" %>
    </div>
    <div class="col-md-4 my-1">
      <%= s.input :start, as: :boolean, label: "Empezar una pyme" %>
    </div>
    <div class="col-md-4 my-1">
      <%= s.input :others, as: :boolean, label: "Otra razón" %>
    </div>
  </div>
  <%= s.button :submit, "Listo", class: "btn btn-success text-white" %>
  <% end %>
</div>
